/* css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primary-color: #6ca138;
  --color-footer: rgb(25, 135, 84);
  --secondary-color: #d2f4b0;
  --color-body: #baeaba;
  --text-color: #7b7878;
  --text-color-light: #f8f9fa;
  --font-family: "Roboto", sans-serif;
  --font-size: 1.2rem;
  --font-weight: 400;
  --line-height: 1.6;
}

body {
  background-color: var(--color-body);
  font-family: var(--Roboto);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  overflow-x: hidden;
}
html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100vh; /* hauteur minimum = hauteur de la fenêtre */
  display: flex;
  flex-direction: column;
}
main {
  flex: 1; /* prend tout l'espace restant */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color-light);
}

/*  NavBar  */

.navbar {
  font-family: var(--font-family);
  background-color: var(--primary-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar-expand {
  background-color: var(--color-footer);
}
.navbar-brand {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.navbar-brand:hover {
  color: var(--primary-color);
}

.navbar-nav {
  display: flex;
}
.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: var(--primary-color);
}

.navbar-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-left .navbar-nav,
.nav-right .navbar-nav {
  display: flex;
  gap: 10px; /* Optionnel : espace entre les liens de la navbar  */
}

/* Footer  */

.footer-custom {
  background-color: var(--color-footer);
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.footer-link {
  color: #fff;
  text-decoration: none;
}
.footer-link:hover {
  color: var(--primary-color);
}

.list-inline-item:hover {
  color: var(--primary-color);
}

/* Home Page  */
/* Carrousel pleine largeur  */

#hero {
  margin-top: 70px;
  padding-top: 0 !important;
}

#heroCarousel {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow-x: hidden;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  max-width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
  overflow-x: hidden;
}

/* Ajustement des images du carrousel */
.hero-img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  object-position: center 30%; /* Descendre légèrement l'image */
}

/* Overlay contenant le formulaire */
.hero-overlay {
  position: absolute;
  top: 50%; /* Ajuste la hauteur pour centrer mieux */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  background: rgba(0, 0, 0, 0.4); /* Fond semi-transparent pour la lisibilité */
  padding: 20px;
  border-radius: 15px;
}

/* Ajustement du formulaire */
.hero-overlay form {
  background: rgba(255, 255, 255, 0.2);
  padding: 15px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  cursor: pointer;
}

/* Boutons du carrousel */
.carousel-control-prev,
.carousel-control-next {
  filter: invert(100%);
}

/* Responsive */
@media (max-width: 768px) {
  #hero {
    height: 75vh;
  }

  .hero-img {
    height: 75vh;
  }

  .hero-overlay {
    top: 55%;
    width: 90%;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border: 1px solid #327ceb;
}

/* Section carte du HomePage  */

.card {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 8px 24px rgba(42, 42, 42, 0.15);
  transform: translateY(-5px);
}

.value-icon {
  font-size: 2.5rem;
}

.card-img-top {
  border-radius: 5px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}